button {
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    outline: none;
}

.btn-danger{
    background-color: #b31010;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    font-size: 1rem;
}

.text-center{
    text-align: center;
}

.mt-5{
    margin-top: 5px;
}

.mt-10{
    margin-top: 10px;
}

.mb-5{
    margin-bottom: 5px;
}

.mb-10{
    margin-bottom: 10px;
}

.divider{
    margin: 1rem 0;
    border: 1px solid #fafafa;
}

.font-white{
    color: #fafafa;
}