@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #000;
  --font-size: 12px;
}

body[class*="dark"] {
  --background: #0a0a0a;
  --foreground: #fff;
  a,
  a:visited {
    color: #6c5ce7;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}