#about{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#about .tiktok{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#about .youtube{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#about .youtube iframe{
    border:0;
    border-radius: 10px;
}