*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fafafa;
    font-family: "Montserrat", sans-serif;
}

body{
    background-color:#1C1C1C;
    padding-left: 1rem;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    max-width: 1000px;
    margin: 0 auto;
}

h1{
    text-align:center;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1rem 0;
    color: #fafafa;
}

img{
    width: 300px;
    height: auto;
}

.menu-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul.menu li {
    list-style-type: none;
    display: inline-block;
}

ul.menu>li>a {
    text-decoration: none;
    padding: 1rem;
    color: #fafafa;
}

#profile img{
    border-radius:10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.myName{
    font-size: 1rem;
    font-weight: 700;
}

.headline{
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

#information{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
